<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Accounts List</title>
</head>
<body>
<table class="table ts">
    <thead>
    <tr>
        <th>Account Number</th>
        <th>Account Name</th>
        <th>Account Type</th>
        <th>Date</th>
        <th>Currency</th>
        <th>Balance</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="account : ${listOfAccounts}">
        <td><a th:href="@{/accountDetails}" th:text="${account.accountNumber}"/></td>
        <td th:text="${account.accountName}"></td>
        <td th:text="${account.accountType}"></td>
        <td th:text="${account.balanceDate}"></td>
        <td th:text="${account.currency}"></td>
        <td th:text="${account.openingAvailableBalance}"></td>
    </tr>

</tbody>
</table>

</body>
</html>